.container{
    background-color: #FBB13C;
    border: 5px solid #9b5c0a;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 30px;
    
}

h1{
    color: #911b01;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}

p{
    color: rgb(0, 0, 128);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}
body{
    background-image: url(bg.png);
}